@import '~@angular/material/theming';
@import 'variables.scss';

.carousel{
  min-height: 300px;
  margin-top: 2em;
  margin-bottom: 4em;
  &_box{
    position: relative;
    &_row{
      padding: 50px;
      overflow-y: hidden;
      overflow-x: auto;
      scroll-snap-type: x proximity;
      &_item{
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        font-size: 3em;
        scroll-snap-align: center;
        background-color: mat-color($primary);
        font-weight: 50;
        margin: 0 3%;
      }
    }
  }
  &_control{
    background-color: mat-color($background, background);
    position: absolute;
    top: 0;
    bottom: 0;
    &_left{
      left:0;
    }
    &_right{
      right:0;
    }
    &_bottom{
      top:90%;
      left:0;
      right:0;
    }
  }
}
