<div class="carousel" fxLayout="column" fxLayoutAlign="start center">
  <div fxFlex="grow" class="wrapper" fxLayout="column" fxLayoutAlign="start stretch" >
    <div fxFlex class="carousel_box">
      <div class="carousel_box_row" fxFlex fxLayout="row" fxLayoutAlign="start stretch">
        <ng-container *ngFor="let item of carouselElements; let n = index">
          <div [id]="'carousel_' + n" class="carousel_box_row_item" fxFlex="1 0 20%" fxFlex.lt-md="1 0 30%" fxLayout="row" fxLayoutAlign="center center">
            <div>{{item}}</div>
          </div>
        </ng-container>
      </div>

      <!-- Navigation -->
      <div class="carousel_control carousel_control_left" fxLayoutAlign="center center" (click)="scroll(false)">
        <button mat-icon-button><mat-icon>chevron_left</mat-icon></button>
      </div>
      <div class="carousel_control carousel_control_right" fxLayoutAlign="center center" (click)="scroll(true)">
        <button mat-icon-button><mat-icon>chevron_right</mat-icon></button>
      </div>
      <div class="carousel_control carousel_control_bottom" fxLayoutAlign="center center">
        <ng-container *ngFor="let page of [0,( (carouselElements.length-1)/2 | number: '1.0-0' ),carouselElements.length-1]">
          <button mat-icon-button (click)="scrollTo(page)"><mat-icon>fiber_manual_record</mat-icon></button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
