
<div class="pageFooter" fxLayout="column" fxLayoutAlign="start center">
  <div fxFlex="grow" class="wrapper" fxLayout="row" fxLayoutAlign="space-between center">
    <ng-container *ngFor="let item of [1,2,3]">
      <div class="pageFooter_category">
        <div class="text"></div>
        <div class="text line"></div>
        <div class="text line"></div>
        <div class="text line"></div>
      </div>
    </ng-container>
  </div>
  <div fxLayout="row" class="pageFooter_row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <span>Made with ❤ by <a href="https://github.com/SimplicitysStrength" target="_blank" >Simplicity's Strength</a></span>
    <a href="https://github.com/SimplicitysStrength" target="_blank" >
      <img alt="GitHub followers" src="https://img.shields.io/github/followers/SimplicitysStrength?style=social">
    </a>
  </div>
  <div fxLayout="row" class="pageFooter_row" fxLayoutAlign="start start" fxLayoutGap="10px">
    Kindly hosted by&nbsp;<a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
  </div>
</div>
