@import '~@angular/material/theming';
@import 'variables.scss';

.colorPreview{
  border-radius: 50%;
  min-width: 1em;
  max-height: 1em;
  min-height: 1em;
}

.pageHeader{
  background-color:  mat-color($primary);
  border-bottom: 2px solid mat-color($primary,300);
  padding:  1em;
}

.theme_colors{
  cursor: pointer;
  &:hover{
    background-color: mat-color($accent,200);
  }
}
