/**  Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */

// Include non-theme styles for core.
@import './variables.scss';
@include mat-core();

// Include theme styles for Angular Material components.
@include angular-material-theme($dark-theme);

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a{
  color: mat-color($accent);
  text-decoration: none;
  &:visited, &:active, &:link{
    color: mat-color($accent);
  }
}

// Main colors demo
.foreground{
  background-color: mat-color($foreground, text);
}

.background{
  background-color: mat-color($background, background);
}

.accent{
  background-color: mat-color($accent);
}

.primary{
  background-color: mat-color($primary);
}

.warn{
  background-color: mat-color($warn);
}


body {
  font-size: 16px;
  line-height: 2em;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

root{
  display: flex;
  box-sizing: border-box;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 3.5em;
  bottom: 0;
  left: 0;
  right: 0;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.wrapper{
  max-width: 1200px !important;
  width: 100%;
  // border-left: 1px solid yellow;
  // border-right: 1px solid yellow;
}


.text {
  display: inline-block;
  background-color: mat-color($foreground, text);
  min-height: 0.8em;
  border-radius: 100px;
  margin: 5px 0;
  min-width: 100px;
  opacity: 1;

  &.link {
    background-color: mat-color($primary);
    opacity: .4;
  }

  &.line{
    width: 100%;
  }
  &.word{
    min-width: 1em;
    min-height: 1em;
  }
  &.dot{
    min-width: 1em;
    min-height: 1em;
  }
  &.title{
    height: 1em;
  }
  &.category {
    width: 100px;
    margin-bottom: 10px;
  }
}



.utterances{
  margin: 0;
  height: auto !important;
  min-height: 300px !important;
  max-width: 80%;
}
