<div class="articles" fxLayout="column" fxLayoutAlign="start center">
  <!-- fxHide.lt-lg -->
  <div fxFlex="grow" class="wrapper" fxHide fxShow.lg fxShow.gt-lg fxLayoutAlign.lt-lg="center center" >
      <mat-grid-list fxLayoutAlign="start center" cols="3">
        <mat-grid-tile
          *ngFor="let tile of articles"
          [colspan]="1"
          [rowspan]="1">
          <a-preview fxFlex></a-preview>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
  <!-- fxHide fxShow.lt-md -->
  <div fxFlex="grow" class="wrapper" fxHide.gt-lg fxHide.lg fxShow.lt-md fxLayout="row wrap" fxLayoutAlign.lt-lg="space-evenly center" >
    <!-- fxLayout="row wrap" -->
    <ng-container *ngFor="let item of articles">
      <a-preview fxFlex.lt-md="1 1 100%" fxFlex.lt-lg="1 1 40%"></a-preview>
    </ng-container>
  </div>
</div>

